body {
  background-color: rgba(187, 250, 250, 0.823);
  font-family: 'Roboto', sans-serif;
}

#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 1rem;
  text-align: center;
}

h2 {
  margin: 0;
}

.pageLayout {
  display: grid;
  grid-template-columns: 350px 3fr;
  gap: 2rem;
}

.sectionHeading {
  padding-bottom: 1rem;
}

.inputLabel {
  color: rgb(0, 0, 130);
  font-weight: bold;
}

.inputBox {
  width: 300px;
}

.inputSection {
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
  text-align: left;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 7px 7px 10px rgb(137, 171, 182);
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 7px;

}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left
} */

.workEducationContainer {
  border-bottom: 1px solid rgb(186, 186, 186);
  margin-top: 1rem;
}

.resultsContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 750px;
  border: 1px solid black;
  padding: 96px;
}

.resumeName {
  font-size: 30px;
  font-weight: bold;
}

.resumeLocation {
  color: rgb(87, 87, 87);
}

.resumeContactInfo {
  display: flex;
  justify-content: space-between;
}

.links {
  text-align: start;
}

.contactInfo {
  text-align: end;
}

/* .itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: rgba(110, 110, 110, 0.288);
  padding: 1rem;
  height: 10px;
  margin-bottom: 1rem;
  border-radius: 30px;
} */

.addButton {
  font-weight: bold;
  margin-top: 1rem;
}

.addButton:hover,
.deleteBtn:hover {
  cursor: pointer;
}

.deleteButton {
  /* color: rgb(250, 250, 250);
  background-color: rgb(204, 97, 97); */
  height: 30px;
  width: auto;
  text-align: center;
  line-height: 3px;
  margin-bottom: 7px;
}

.resumeWork,
.resumeEducation {
  margin-top: 1rem;
}

.workExperienceContainer {
  display: flex;
  flex-direction: column;

}

.workExperienceHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.workLeft,
.workRight {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.symbol {
  margin: 0 5px;
}

.position,
.company,
.major,
.school {
  font-weight: bold;
}

.company,
.school {
  color: rgb(98, 98, 98);
}

.educationContainer {
  display: flex;
  flex-direction: row;
}