body {
  background-color: rgba(156, 194, 194, 0.823);
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

#root {
  max-width: 1280px;
  padding: 1rem;
  text-align: center;
}

h2 {
  margin: 0;
}

.pageLayout {
  display: grid;
  grid-template-columns: 350px 3fr;
  gap: 2rem;
}

/* input styling */

.sectionHeading {
  font-size: 20px;
}

.inputLabel {
  color: rgb(0, 0, 130);
  font-weight: bold;
}

.inputBox {
  width: 300px;
}

.inputSection {
  border: 1px solid rgb(137, 137, 137);
  padding: 0.25rem;
  box-shadow: 7px 7px 10px rgb(89, 112, 119);
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 7px;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.workEducationContainer {
  border-bottom: 1px solid rgb(186, 186, 186);
  margin-top: 1.5rem;
}

.addButton {
  font-weight: bold;
  margin-top: 1rem;
}

.deleteButton {
  height: 30px;
  width: auto;
  text-align: center;
  line-height: 3px;
  margin-bottom: 7px;
}

.addButton:hover,
.deleteBtn:hover {
  cursor: pointer;
}

/* resume display styling*/

.resultsContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 600px;
  border: 1px solid black;
  padding: 96px;
}

.resumeText {
  font-size: 13px;
}

.resumeName {
  font-size: 25px;
  font-weight: bold;
}

.resumeLocation {
  color: rgb(87, 87, 87);
}

.resumeContactInfo {
  display: flex;
  justify-content: space-between;
}

.links {
  text-align: start;
}

.contactInfo {
  text-align: end;
}

.resumeWork,
.resumeEducation {
  margin-top: 1rem;
}

.workExperienceContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 10px;
}

.workExperienceHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.workLeft,
.workRight {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.symbol {
  margin: 0 5px;
}

.position,
.company,
.degree,
.school {
  font-weight: bold;
}

.company,
.school,
.workRight {
  color: rgb(98, 98, 98);
}

.responsibilities {
  width: 90%;
  text-align: left;
  margin-left: 5%;
}

.educationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.educationLeft {
  display: flex;
  flex-direction: row;
}